<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" >  
	<style>
		#voletvertical.slider.slider-vertical{height:85px; width:64px;}
		#voletvertical.slider.slider-vertical .slider-track {width:63px; height:100%;}
	</style>
	<div class="slider-volet-value slid-v-left" id="SlidVal#id#">#state# %</div>
	<div class="slider-volet" data-slider-handle="square" value="#state#"></div>
	<div class="slider-volet-value slid-v-bottom" id="SlidValB#id#" style="display:none">#state# %</div>
	<script>

		$.include(['plugins/Volets/core/template/SlidVolet/bootstrapslider.js'], function() {  
			$.include(['plugins/Volets/core/template/SlidVolet/slidervc.css'], function() {
				$(".cmd[data-cmd_uid=#uid#] .slider-volet").bootstrapSlider({
					id: 'voletvertical',
					orientation: 'vertical',
					reversed : 'true',
					min: ('#minValue#' == '') ? 0 : parseInt('#minValue#'),
					max: ('#maxValue#' == '') ? 100 : parseInt('#maxValue#'),
					value: ('#state#' == '') ? 0 : parseInt('#state#'),
					enabled: false
				})
			});
		});
		if ('#state#' == '0' || '#state#' == 0 || '#state#' == '') {
			$(".cmd[data-cmd_uid=#uid#] .slider-vertical .slider-selection").css('background', "url(plugins/Volets/core/template/SlidVolet/lamep.png)");
		}else {
			if ('#state#' != '0' || '#state#' != 0) {
				$(".cmd[data-cmd_uid=#uid#] .slider-vertical .slider-selection").css('background', "url(plugins/Volets/core/template/SlidVolet/lamej.png)");
			}
		}
		if ('#state#' == '' || '#state#' == 0){
			$("#SlidVal#id#").empty();
			$("#SlidVal#id#").text("0 %");
		}
		if ('#state#' == 99 || '#state#' == '99'){
			if ('#Fibaro#'.trim() == '1') {
				$("#SlidVal#id#").empty();
				$("#SlidVal#id#").text("100 %");
				$("#SlidValB#id#").empty();
				$("#SlidValB#id#").text("100 %");
			}
		}
		if ('#PourcentLeft#'.trim() == '0') {
			$("#SlidVal#id#").css("display","none");
			$("#SlidValB#id#").css("display","block");
			$(".cmd[data-cmd_id=#id#]").css("padding-top", "1%");
			$(".cmd[data-cmd_id=#id#]").css("width", "75px");
		}
	</script>
</div>
