<div style="width:100px;min-height:90px;" class="cmd #history# tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id#">
    <center>
        <p class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</p>
        <img class="action iconCmd#id#" src="plugins/Volets/core/template/images/Open.png" width="40px">
    </center>
    <script>
        var message='';
        if ('#state#' == '1' || '#state#' == '99' || '#state#' == 'on'){
            $('.iconCmd#id#').attr('src','plugins/Volets/core/template/images/Open.png');
            message='close';
        }else{
            $('.iconCmd#id#').attr('src','plugins/Volets/core/template/images/Close.png');
            message='open';
        }
        $('.cmd[data-cmd_id=#id#] .action').off();
        $('.cmd[data-cmd_id=#id#] .action').on('click', function () {
            jeedom.cmd.execute({id: '#id#', value: {message:message}});
        });
    </script>
</div>
