<div style="width:100px;min-height:90px;" class="cmd #history# tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-size: 3em;font-weight: bold;margin-top: 5px;" class="action iconCmd#id#"></span>
        <span class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</span>
    </center>
    <script>
        $('.iconCmd#id#').empty();
        if ('#state#' == '1' || '#state#' == '99' || '#state#' == 'on') {
            $('.iconCmd#id#').append('<i class="icon jeedom-volet-ouvert"></i>');
  if (jeedom.cmd.normalizeName('#name#') == 'on') {
                $('.cmd[data-cmd_id=#id#]').hide();
            }
        } else {
            $('.iconCmd#id#').append('<i class="icon jeedom-volet-ferme"></i>');
            if (jeedom.cmd.normalizeName('#name#') == 'off') {
                $('.cmd[data-cmd_id=#id#]').hide();
            }
        }
        $('.cmd[data-cmd_id=#id#] .action').off();
        $('.cmd[data-cmd_id=#id#] .action').on('click', function () {
            jeedom.cmd.execute({id: '#id#'});
        });
    </script>
</div>
