<div style="width:100px;min-height:90px;" class="cmd #history# tooltips cmd-widget" data-type="action" data-subtype="select" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <p class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</p>
        <img class="action iconCmd#id#" src="plugins/Volets/core/template/images/Open.png" width="40px">
    </center>
    <script>
        $('.iconCmd#id#').empty();
        if ('#state#' == 'open') 
            $('.iconCmd#id#').attr('src','plugins/Volets/core/template/images/Open.png').attr('data-value','open');
        else
            $('.iconCmd#id#').attr('src','plugins/Volets/core/template/images/Close.png').attr('data-value','close');
        $('.cmd[data-cmd_id=#id#] .action').off();
        $('.cmd[data-cmd_id=#id#] .action').on('click', function () {
          	jeedom.cmd.execute({id: '#id#', value: {select:$(this).attr('data-value')}});
        });
    </script>
</div>
