<div style="width:90px;min-height:80px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
        <span class='cmdName' style="font-weight: bold;font-size : 12px;">#name_display#</span>
        <img class="iconCmd#uid#"/>
    </center>
    <script>
        $('.iconCmd#uid#').empty();
        if ('#state#' == '1') {
            $('.iconCmd#uid#').attr('src','../images/SunInWindows.png');
        }else {
            $('.iconCmd#uid#').attr('src','../images/SunOutWindows.png');
        }
    </script>
</div>
