<style>	
  	.slider-volet-value{
      	height: 30px;
	}
	.slider-track > .slider-track-high { display:none; }
	.tooltip-inner{
		background-color: #666;
	}
	.tooltip-arrow{
		border-left-color: #555;
	}
</style>
<span class="cmd cmd-widget" data-type="action" data-subtype="slider" data-cmd_id="#id#" >  
	<div class="slider-volet-value" id="SlidVal#id#"></div>
	<div class="slider-volet" data-slider-handle="square" value="#state#"></div>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			$.include(['plugins/Volets/core/template/SlidVolet/bootstrapslider.js'], function() {    
				$.include(['plugins/Volets/core/template/SlidVolet/slidervolet.css'], function() {
					$(".cmd[data-cmd_id=#id#] .slider-volet").bootstrapSlider({
						id: 'voletvertical',
						orientation: 'vertical',
						reversed : 'true',
						tooltip : 'true',
						tooltip_position : 'left',
						min:  _options.minValue ,
						max: _options.maxValue,
						value: ('#state#' == '') ? 0 : parseInt(_options.display_value),
						enabled: false
					});
				});
			});
			var sliderVal = _options.display_value;
			if (sliderVal == '') sliderVal = 0;
			if (sliderVal == 0)
				$(".cmd[data-cmd_id=#id#] .slider-vertical .slider-selection").css('background', "url(plugins/Volets/core/template/SlidVolet/lamep.png)");
			else 
				$(".cmd[data-cmd_id=#id#] .slider-vertical .slider-selection").css('background', "url(plugins/Volets/core/template/SlidVolet/lamej.png)");
			$("#SlidVal#id#").text( sliderVal + ' %');
			$(".cmd[data-cmd_id=#id#] .slider-volet").attr('data-slider-value',sliderVal);
			$(".cmd[data-cmd_id=#id#] .slider-volet").bootstrapSlider('refresh');
			$(".cmd[data-cmd_id=#id#]").css("padding-top", "3%");
			$(".cmd[data-cmd_id=#id#]").css("width", "75px");
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',minValue:'#minValue#',maxValue:'#maxValue#',valueDate:'#valueDate#',collectDate:'#collectDate#'});
	</script>
</span>
